In [41]:
import pandas as pd

In [87]:
df = pd.read_csv('./result/seoul_env_data.csv', encoding='utf-8')

In [43]:
from sklearn.preprocessing import MinMaxScaler

In [44]:
numeric_columns = df.select_dtypes(include=['int64', 'float64']).columns
numeric_data = df[numeric_columns]
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(numeric_data)
normalized_df = pd.DataFrame(normalized_data, columns=numeric_columns)
first_column = df.pop('자치구명')
normalized_df.insert(0, '자치구명', first_column)

In [3]:
columns_to_average = df.columns.difference(['자치구명'])
normalized_df = df[:]
normalized_df.loc['total'] = normalized_df[columns_to_average].sum()

/var/folders/qr/d0tz05096cq7wtbf54br3qsw0000gn/T/ipykernel_41612/3115806717.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  normalized_df.loc['total'] = normalized_df[columns_to_average].sum()

In [4]:
cols = [normalized_df.columns][0]

In [5]:
for col in cols:
    if col != '자치구명':
        normalized_df[col] = normalized_df[col] / normalized_df.loc['total', col]

/var/folders/qr/d0tz05096cq7wtbf54br3qsw0000gn/T/ipykernel_41612/1625842433.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  normalized_df[col] = normalized_df[col] / normalized_df.loc['total', col]

In [6]:
normalized_df.drop(index='total', inplace=True)

In [45]:
normalized_df.to_csv('./result/seoul_env_data_normalized.csv', encoding='utf-8-sig', index=False)

In [81]:
normalized_df['환경생태지수'] = (normalized_df['온실가스(1인당)'] + normalized_df['전력사용량'] + normalized_df['급수사용량(1인당)'] + normalized_df['쓰레기배출량(1인당)'] + normalized_df['아황산가스'] + normalized_df['이산화질소'] + normalized_df['미세먼지'] + normalized_df['오존']) * -1/5 \
    + (normalized_df['공공자전거_이용건수'] + normalized_df['공원면적(1인당)']) * 8

In [82]:
normalized_df.drop(columns=['온실가스(1인당)', '전력사용량', '공공자전거_이용건수', '급수사용량(1인당)', '쓰레기배출량(1인당)',
       '아황산가스', '이산화질소', '미세먼지', '오존', '공원면적(1인당)'], inplace=True)

In [83]:
normalized_df.sort_values(by='환경생태지수', ascending=False, inplace=True)

In [91]:
normalized_df.head()

,자치구명,온실가스(1인당),전력사용량,공공자전거_이용건수,급수사용량(1인당),쓰레기배출량(1인당),아황산가스,이산화질소,미세먼지,오존,공원면적(1인당)
0,종로구,0.572880,0.210463,0.189263,0.648285,0.274648,1.0,0.666667,0.285714,0.857143,1.000000
1,중구,1.000000,0.359147,0.080723,1.000000,0.545775,1.0,1.000000,0.000000,0.714286,0.294442
2,용산구,0.201191,0.157949,0.052716,0.221657,0.186620,1.0,0.666667,0.428571,0.714286,0.056749
3,성동구,0.232203,0.341286,0.253132,0.153802,0.077465,1.0,0.666667,0.714286,0.428571,0.099915
4,광진구,0.063040,0.183668,0.340846,0.107305,0.000000,1.0,0.444444,0.142857,0.285714,0.089686

In [84]:
normalized_df.to_csv('./result/seoul_env_index.csv', encoding='utf-8-sig', index=False)