In [122]:
import pandas as pd

In [123]:
df = pd.read_csv('./result/seoul_env_data.csv', encoding='utf-8')

In [124]:
columns_to_average = df.columns.difference(['자치구명'])
normalized_df = df[:]
normalized_df.loc['total'] = normalized_df[columns_to_average].mean()

/var/folders/qr/d0tz05096cq7wtbf54br3qsw0000gn/T/ipykernel_33375/2797846781.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  normalized_df.loc['total'] = normalized_df[columns_to_average].mean()

In [125]:
cols = [normalized_df.columns][0]

In [126]:
for col in cols:
    if col != '자치구명':
        normalized_df[col] = normalized_df[col] / normalized_df.loc['total', col]

/var/folders/qr/d0tz05096cq7wtbf54br3qsw0000gn/T/ipykernel_33375/1625842433.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  normalized_df[col] = normalized_df[col] / normalized_df.loc['total', col]

In [127]:
normalized_df.drop(index='total', inplace=True)

In [128]:
normalized_df.to_csv('./result/seoul_env_data_normalized.csv', encoding='utf-8-sig', index=False)

In [129]:
normalized_df['환경생태지수'] = (normalized_df['온실가스(1인당)'] + normalized_df['전력사용량'] + normalized_df['급수사용량(1인당)'] + normalized_df['쓰레기배출량(1인당)'] + normalized_df['아황산가스'] + normalized_df['이산화질소'] + normalized_df['미세먼지'] + normalized_df['오존']) * -1/5 \
    + (normalized_df['공공자전거_이용건수'] + normalized_df['공원면적(1인당)'])*2

In [130]:
normalized_df.columns

Index(['자치구명', '온실가스(1인당)', '전력사용량', '공공자전거_이용건수', '급수사용량(1인당)', '쓰레기배출량(1인당)',
       '아황산가스', '이산화질소', '미세먼지', '오존', '공원면적(1인당)', '환경생태지수'],
      dtype='object')

In [131]:
normalized_df.drop(columns=['온실가스(1인당)', '전력사용량', '공공자전거_이용건수', '급수사용량(1인당)', '쓰레기배출량(1인당)',
       '아황산가스', '이산화질소', '미세먼지', '오존', '공원면적(1인당)'], inplace=True)
normalized_df.to_csv('./result/seoul_env_index.csv', encoding='utf-8-sig', index=False)

In [132]:
normalized_df

    자치구명    환경생태지수
0    종로구  7.622158
1     중구  1.334174
2    용산구  0.209415
3    성동구  1.490077
4    광진구  2.077959
5   동대문구  0.693343
6    중랑구  1.386455
7    성북구  1.853011
8    강북구  4.589529
9    도봉구  3.136898
10   노원구  4.650741
11   은평구  3.101191
12  서대문구  1.311663
13   마포구  2.067828
14   양천구  2.125156
15   강서구  4.352547
16   구로구  1.413944
17   금천구  0.467059
18  영등포구  3.093023
19   동작구  0.808911
20   관악구  2.422918
21   서초구  3.569892
22   강남구  0.957914
23   송파구  3.711137
24   강동구  1.553057