In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./result/seoul_env_data.csv', encoding='utf-8')

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [4]:
numeric_columns = df.select_dtypes(include=['int64', 'float64']).columns
numeric_data = df[numeric_columns]
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(numeric_data)
normalized_df = pd.DataFrame(normalized_data, columns=numeric_columns)
first_column = df.pop('자치구명')
normalized_df.insert(0, '자치구명', first_column)

In [5]:
normalized_df.to_csv('./result/seoul_env_data_normalized.csv', encoding='utf-8-sig', index=False)

In [6]:
normalized_df['환경생태지수'] = (normalized_df['온실가스(1인당)'] + normalized_df['전력사용량'] + normalized_df['급수사용량(1인당)'] + normalized_df['쓰레기배출량(1인당)'] + normalized_df['아황산가스'] + normalized_df['이산화질소'] + normalized_df['미세먼지'] + normalized_df['오존']) * -1/5 \
    + (normalized_df['공공자전거_이용건수'] + normalized_df['공원면적(1인당)']) * 8

In [7]:
normalized_df.drop(columns=['온실가스(1인당)', '전력사용량', '공공자전거_이용건수', '급수사용량(1인당)', '쓰레기배출량(1인당)',
       '아황산가스', '이산화질소', '미세먼지', '오존', '공원면적(1인당)'], inplace=True)

In [8]:
normalized_df.sort_values(by='환경생태지수', ascending=False, inplace=True)

In [9]:
normalized_df.head()

    자치구명    환경생태지수
0    종로구  8.610944
15   강서구  7.465339
23   송파구  6.063509
10   노원구  5.922694
18  영등포구  5.099085

In [10]:
normalized_df.to_csv('./result/seoul_env_index.csv', encoding='utf-8-sig', index=False)