In [1]:
import pandas as pd

In [44]:
df_elec = pd.read_csv('./data/ghgEmissions_data_electricity.csv', encoding='utf-8', skiprows=1)
df_elec = df_elec[['자치구명', '계']]
df_elec['계'] = df_elec['계'].str.replace(',', '').astype('float')
df_elec.head()

  자치구명            계
0   총합  21141506.42
1  강남구   2111607.07
2  강동구    721276.39
3  강북구    416059.44
4  강서구   1095960.33

In [45]:
df_gas = pd.read_csv('./data/ghgEmissions_data_gas.csv', encoding='utf-8', skiprows=1)
df_gas = df_gas[['자치구명', '계']]
df_gas['계'] = df_gas['계'].str.replace(',', '').astype('float')
df_gas.head()

  자치구명           계
0   총합  9699995.38
1  강남구   662100.33
2  강동구   395722.38
3  강북구   304636.56
4  강서구   490076.07

In [46]:
df_district_heating = pd.read_csv('./data/ghgEmissions_data_district_heating.csv', encoding='utf-8', skiprows=1)
df_district_heating = df_district_heating[['자치구명', '계']]
df_district_heating['계'] = df_district_heating['계'].str.replace(',', '').astype('float')
df_district_heating.head()

  자치구명          계
0   총합  699533.71
1  강남구  123861.47
2  강동구   23062.53
3  강북구       0.00
4  강서구   88447.66

In [49]:
ghg_emissions = pd.merge(df_elec, df_gas, on='자치구명')
ghg_emissions = pd.merge(ghg_emissions, df_district_heating, on='자치구명')
ghg_emissions['온실가스배출량'] = ghg_emissions['계_x'] + ghg_emissions['계_y'] + ghg_emissions['계']
ghg_emissions.drop(['계_x', '계_y', '계'], axis=1, inplace=True)
ghg_emissions.head()

  자치구명      온실가스배출량
0   총합  31541035.51
1  강남구   2897568.87
2  강동구   1140061.30
3  강북구    720696.00
4  강서구   1674484.06