In [1]:
import pandas as pd

In [3]:
df_elec = pd.read_csv('./data/ghgEmissions_data_electricity.csv', encoding='utf-8', skiprows=1)

In [4]:
df_elec

,번호,자치구명,계,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,1,총합,"14,321,101.27","2,002,668.89","1,853,168.92","1,561,826.13","1,497,658.10","1,499,213.62","1,682,912.26","1,964,404.35","2,259,249.02",0.0,0.0,0.0,0.0
1,2,강남구,"1,431,479.51","207,640.26","190,036.34","157,332.42","144,424.49","145,275.54","166,742.41","197,560.61","222,467.45",0.0,0.0,0.0,0.0
2,3,강동구,"487,247.04","67,811.91","63,137.73","52,879.66","51,621.87","50,857.71","56,587.86","66,544.27","77,806.04",0.0,0.0,0.0,0.0
3,4,강북구,"280,434.46","40,570.37","38,024.88","30,696.64","29,807.31","28,608.64","31,553.13","36,807.67","44,365.83",0.0,0.0,0.0,0.0
4,5,강서구,"754,260.99","105,108.47","98,057.45","84,182.64","80,718.91","80,105.82","87,111.34","101,307.20","117,669.15",0.0,0.0,0.0,0.0
5,6,관악구,"533,863.05","74,231.85","70,612.08","58,240.96","57,256.34","54,938.79","61,570.77","71,458.84","85,553.43",0.0,0.0,0.0,0.0
6,7,광진구,"406,219.11","55,886.79","51,982.58","42,968.90","41,615.84","41,762.63","48,336.98","57,024.15","66,641.23",0.0,0.0,0.0,0.0
7,8,구로구,"603,896.14","84,509.97","77,929.23","65,597.63","63,376.93","64,405.96","71,084.23","82,290.69","94,701.49",0.0,0.0,0.0,0.0
8,9,금천구,"517,194.62","72,762.66","65,813.62","56,947.35","54,019.24","55,313.42","61,608.24","71,601.95","79,128.15",0.0,0.0,0.0,0.0
9,10,노원구,"472,024.97","68,756.30","62,459.58","52,053.40","50,316.47","48,489.92","53,830.84","62,928.50","73,189.97",0.0,0.0,0.0,0.0
10,11,도봉구,"276,305.46","39,581.75","36,972.43","30,324.88","29,655.97","28,365.69","31,172.01","36,694.59","43,538.15",0.0,0.0,0.0,0.0
11,12,동대문구,"417,326.91","60,075.43","55,737.27","45,781.16","43,781.73","42,418.80","47,839.64","55,880.88","65,811.98",0.0,0.0,0.0,0.0
12,13,동작구,"384,669.91","53,093.38","49,836.91","41,539.67","40,616.24","39,996.85","44,978.16","52,256.60","62,352.11",0.0,0.0,0.0,0.0
13,14,마포구,"692,801.52","94,741.25","87,509.16","75,089.21","71,766.10","74,545.54","83,079.98","96,565.59","109,504.68",0.0,0.0,0.0,0.0
14,15,서대문구,"380,484.38","52,651.73","48,077.35","41,490.34","39,580.12","40,205.25","45,296.48","52,846.78","60,336.33",0.0,0.0,0.0,0.0
15,16,서초구,"936,848.03","132,321.23","123,374.83","102,613.20","97,623.26","96,752.38","109,316.10","128,596.01","146,251.03",0.0,0.0,0.0,0.0
16,17,성동구,"600,712.01","84,224.75","78,800.77","65,827.02","64,342.76","63,036.68","70,399.29","80,440.54","93,640.21",0.0,0.0,0.0,0.0
17,18,성북구,"450,453.91","64,000.74","60,141.30","49,583.94","48,075.47","46,722.03","52,124.11","59,647.83","70,158.49",0.0,0.0,0.0,0.0
18,19,송파구,"945,735.78","127,991.67","118,028.31","101,495.06","99,223.41","101,026.05","113,267.10","132,555.24","152,148.94",0.0,0.0,0.0,0.0
19,20,양천구,"479,764.31","66,945.32","62,631.70","53,988.47","52,479.89","50,401.66","54,643.15","63,312.96","75,361.16",0.0,0.0,0.0,0.0
20,21,영등포구,"812,824.67","109,658.99","100,024.31","87,938.42","83,540.00","87,149.74","98,553.74","115,717.49","130,241.98",0.0,0.0,0.0,0.0
21,22,용산구,"439,645.84","59,516.37","55,330.29","46,570.41","45,437.92","46,424.35","53,247.67","61,897.90","71,220.93",0.0,0.0,0.0,0.0
22,23,은평구,"442,798.48","61,239.64","58,099.15","48,540.13","47,638.89","46,158.18","50,649.35","59,235.53","71,237.61",0.0,0.0,0.0,0.0
23,24,종로구,"519,436.81","73,240.98","67,344.26","56,533.42","53,016.39","54,410.82","62,359.94","72,534.87","79,996.13",0.0,0.0,0.0,0.0
24,25,중구,"706,544.04","96,736.27","87,149.60","75,814.37","71,011.81","76,211.72","87,663.52","101,826.50","110,130.26",0.0,0.0,0.0,0.0
25,26,중랑구,"348,129.32","49,370.82","46,057.80","37,796.83","36,710.74","35,629.46","39,896.22","46,871.15","55,796.31",0.0,0.0,0.0,0.0

In [14]:
numeric_columns = ['계', '1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월']
df_elec[numeric_columns] = df_elec[numeric_columns].apply(lambda x: x.astype(str))
df_elec[numeric_columns] = df_elec[numeric_columns].apply(lambda x: x.str.replace(',', '').astype(float))

In [17]:
df_elec.head()

,번호,자치구명,계,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,1,총합,14321101.27,2002668.89,1853168.92,1561826.13,1497658.10,1499213.62,1682912.26,1964404.35,2259249.02,0.0,0.0,0.0,0.0
1,2,강남구,1431479.51,207640.26,190036.34,157332.42,144424.49,145275.54,166742.41,197560.61,222467.45,0.0,0.0,0.0,0.0
2,3,강동구,487247.04,67811.91,63137.73,52879.66,51621.87,50857.71,56587.86,66544.27,77806.04,0.0,0.0,0.0,0.0
3,4,강북구,280434.46,40570.37,38024.88,30696.64,29807.31,28608.64,31553.13,36807.67,44365.83,0.0,0.0,0.0,0.0
4,5,강서구,754260.99,105108.47,98057.45,84182.64,80718.91,80105.82,87111.34,101307.20,117669.15,0.0,0.0,0.0,0.0

In [19]:
df_gas = pd.read_csv('./data/ghgEmissions_data_gas.csv', encoding='utf-8', skiprows=1)
df_gas[numeric_columns] = df_gas[numeric_columns].apply(lambda x: x.astype(str))
df_gas[numeric_columns] = df_gas[numeric_columns].apply(lambda x: x.str.replace(',', '').astype(float))
df_gas.head()

,번호,자치구명,계,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,1,총합,6202543.51,1627561.38,1452477.42,985912.57,652165.32,463353.07,353756.50,332103.81,335213.43,0.0,0.0,0.0,0.0
1,2,강남구,479597.38,133159.81,124556.23,69178.02,43045.97,28905.34,24503.97,25419.83,30828.20,0.0,0.0,0.0,0.0
2,3,강동구,271860.43,64590.04,65954.91,43354.54,31178.70,22388.84,16190.66,13910.81,14291.92,0.0,0.0,0.0,0.0
3,4,강북구,194756.10,47173.14,47348.71,34890.75,21837.07,15725.75,10921.69,8740.39,8118.60,0.0,0.0,0.0,0.0
4,5,강서구,292826.68,78073.06,65672.26,45688.80,32402.87,22835.63,16666.56,16157.69,15329.81,0.0,0.0,0.0,0.0

In [20]:
df_district_heating = pd.read_csv('./data/ghgEmissions_data_district_heating.csv', encoding='utf-8', skiprows=1)
df_district_heating[numeric_columns] = df_district_heating[numeric_columns].apply(lambda x: x.astype(str))
df_district_heating[numeric_columns] = df_district_heating[numeric_columns].apply(lambda x: x.str.replace(',', '').astype(float))
df_district_heating.head()

,번호,자치구명,계,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월
0,1,총합,398180.65,122038.02,88244.20,59860.99,35863.72,25517.05,20684.08,23659.32,22313.26,0.0,0.0,0.0,0.0
1,2,강남구,70612.08,23185.86,16880.14,11501.91,6910.44,4158.86,2760.02,2791.52,2423.32,0.0,0.0,0.0,0.0
2,3,강동구,8098.15,2713.46,1944.06,1308.39,797.52,538.42,325.45,236.91,233.94,0.0,0.0,0.0,0.0
3,4,강북구,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0
4,5,강서구,54934.86,14260.37,10449.96,7015.29,3967.47,3431.86,3912.21,5859.96,6037.73,0.0,0.0,0.0,0.0