In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/인구밀도(2021-2022).csv', encoding='utf-8')

In [6]:
df.head()

,동별(1),동별(2),동별(3),2021,2021.1,2021.2,2022,2022.1,2022.2
0,동별(1),동별(2),동별(3),인구 (명),면적 (㎢),인구밀도 (명/㎢),인구 (명),면적 (㎢),인구밀도 (명/㎢)
1,합계,소계,소계,9736027,605.24,16086,9667669,605.21,15974
2,합계,종로구,소계,153789,23.91,6431,152211,23.91,6365
3,합계,종로구,사직동,9636,1.23,7834,9355,1.23,7606
4,합계,종로구,삼청동,2739,1.49,1838,2642,1.49,1773

In [16]:
df = df[df['동별(3)'] == '소계']

In [17]:
df.head()

   동별(1) 동별(2) 동별(3)     2021  2021.1 2021.2     2022  2022.1 2022.2
1     합계    소계    소계  9736027  605.24  16086  9667669  605.21  15974
2     합계   종로구    소계   153789   23.91   6431   152211   23.91   6365
20    합계    중구    소계   131787    9.96  13231   130785    9.96  13131
36    합계   용산구    소계   237285   21.87  10852   233284   21.87  10668
53    합계   성동구    소계   292672   16.86  17359   288234   16.82  17136

In [9]:
selected_df = df[['동별(2)', '2021', '2022']]

In [11]:
selected_df.columns = ['자치구명', '인구_2021', '인구_2022']

In [14]:
selected_df.drop(index=range(2), inplace=True)

/var/folders/qr/d0tz05096cq7wtbf54br3qsw0000gn/T/ipykernel_31523/686186407.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df.drop(index=range(2), inplace=True)

In [15]:
selected_df.head()

  자치구명 인구(2021) 인구(2022)
2  종로구   153789   152211
3  종로구     9636     9355
4  종로구     2739     2642
5  종로구     9782     9536
6  종로구    18329    17858