In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('./data/서울특별시 건축물대장 정보(2022년).csv', encoding='cp949', nrows=100, sep=';')

In [9]:
df2 = pd.read_csv('./data/서울특별시 건축물대장 정보(2022년) 2.csv', encoding='cp949', nrows=100, sep=';')

In [8]:
df

,mgm_bldrgst_pk,mgm_upper_bldrgst_pk,regstr_gb_cd,regstr_kind_cd,sigungu_cd,bjdong_cd,plat_gb_cd,bun,ji,splot_nm,...,regstr_seqno,recap_title_seqno,title_seqno,expos_seqno,na_road_cd,na_bjdong_cd,na_ugrnd_cd,na_main_bun,na_sub_bun,work_day
0,11110-75495,11110-20425,집합,전유부,종로구,숭인동,대지,76,0,NaN,...,618,1,1,618,서울특별시 종로구 종로,숭인동,지상,347,0.0,20220104
1,11470-60089,11470-2769,집합,전유부,양천구,신월동,대지,1028,0,NaN,...,61,1,1,61,서울특별시 양천구 남부순환로85길,신월동,지상,16,NaN,20220104
2,11170-50025,11170-9414,집합,전유부,용산구,한남동,대지,72,1,NaN,...,166,1,1,166,서울특별시 용산구 한남대로,한남동,지상,60,NaN,20220104
3,11470-60070,11470-2769,집합,전유부,양천구,신월동,대지,1028,0,NaN,...,39,1,1,39,서울특별시 양천구 남부순환로85길,신월동,지상,16,NaN,20220104
4,11170-49651,11170-9414,집합,전유부,용산구,한남동,대지,72,1,NaN,...,386,1,1,386,서울특별시 용산구 한남대로,한남동,지상,60,NaN,20220104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,11530-97288,11530-10578,집합,전유부,구로구,구로동,대지,107,1,NaN,...,1,1,1,1,서울특별시 구로구 공원로,구로동,지상,27,NaN,20220104
96,11170-49718,11170-9414,집합,전유부,용산구,한남동,대지,72,1,NaN,...,247,1,1,247,서울특별시 용산구 한남대로,한남동,지상,60,NaN,20220104
97,11530-110030,11530-2795,집합,전유부,구로구,고척동,대지,141,1,NaN,...,1410,1,30,1410,서울특별시 구로구 중앙로5길,고척동,지상,62,0.0,20220104
98,11170-49719,11170-9414,집합,전유부,용산구,한남동,대지,72,1,NaN,...,248,1,1,248,서울특별시 용산구 한남대로,한남동,지상,60,NaN,20220104
99,11470-60087,11470-2769,집합,전유부,양천구,신월동,대지,1028,0,NaN,...,59,1,1,59,서울특별시 양천구 남부순환로85길,신월동,지상,16,NaN,20220104

In [10]:
df2

,mgm_bldrgst_pk,mgm_upper_bldrgst_pk,regstr_gb_cd,regstr_kind_cd,sigungu_cd,bjdong_cd,plat_gb_cd,bun,ji,splot_nm,...,regstr_seqno,recap_title_seqno,title_seqno,expos_seqno,na_road_cd,na_bjdong_cd,na_ugrnd_cd,na_main_bun,na_sub_bun,work_day
0,11110-75495,11110-20425,집합,전유부,종로구,숭인동,대지,76,0,NaN,...,618,1,1,618,서울특별시 종로구 종로,숭인동,지상,347,0.0,20220104
1,11470-60089,11470-2769,집합,전유부,양천구,신월동,대지,1028,0,NaN,...,61,1,1,61,서울특별시 양천구 남부순환로85길,신월동,지상,16,NaN,20220104
2,11170-50025,11170-9414,집합,전유부,용산구,한남동,대지,72,1,NaN,...,166,1,1,166,서울특별시 용산구 한남대로,한남동,지상,60,NaN,20220104
3,11470-60070,11470-2769,집합,전유부,양천구,신월동,대지,1028,0,NaN,...,39,1,1,39,서울특별시 양천구 남부순환로85길,신월동,지상,16,NaN,20220104
4,11170-49651,11170-9414,집합,전유부,용산구,한남동,대지,72,1,NaN,...,386,1,1,386,서울특별시 용산구 한남대로,한남동,지상,60,NaN,20220104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,11530-97288,11530-10578,집합,전유부,구로구,구로동,대지,107,1,NaN,...,1,1,1,1,서울특별시 구로구 공원로,구로동,지상,27,NaN,20220104
96,11170-49718,11170-9414,집합,전유부,용산구,한남동,대지,72,1,NaN,...,247,1,1,247,서울특별시 용산구 한남대로,한남동,지상,60,NaN,20220104
97,11530-110030,11530-2795,집합,전유부,구로구,고척동,대지,141,1,NaN,...,1410,1,30,1410,서울특별시 구로구 중앙로5길,고척동,지상,62,0.0,20220104
98,11170-49719,11170-9414,집합,전유부,용산구,한남동,대지,72,1,NaN,...,248,1,1,248,서울특별시 용산구 한남대로,한남동,지상,60,NaN,20220104
99,11470-60087,11470-2769,집합,전유부,양천구,신월동,대지,1028,0,NaN,...,59,1,1,59,서울특별시 양천구 남부순환로85길,신월동,지상,16,NaN,20220104