In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/주민+1인당+생활폐기물(쓰레기)+배출량.csv', encoding='utf-8')

In [5]:
df.columns = ['자치구명', '1인당 생활폐기물 배출량', '생활폐기물 배출량', '주민수']
df = df[['자치구명', '1인당 생활폐기물 배출량']]

In [7]:
df.drop(range(2), inplace=True)
df.head()

/var/folders/qr/d0tz05096cq7wtbf54br3qsw0000gn/T/ipykernel_31024/2056654886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(range(2), inplace=True)

  자치구명 1인당 생활폐기물 배출량
2  종로구          1.49
3   중구          2.26
4  용산구          1.24
5  성동구          0.93
6  광진구          0.71